{% spaceless %}
    {{ pageAddAsset('javascript', zasset('@CmfcmfMediaModule:js/vendor/select2.min.js'), 98) }}
    {{ pageAddAsset('stylesheet', zasset('@CmfcmfMediaModule:css/vendor/select2.min.css'), 98) }}
{% endspaceless %}
