{% spaceless %}
    {# Spinner! #}
    {{ pageAddAsset('javascript', zasset('@CmfcmfMediaModule:js/vendor/spin.min.js'), 97) }}
    {{ pageAddAsset('javascript', zasset('@CmfcmfMediaModule:js/vendor/jquery.spin.js'), 98) }}

    {# Toasts! #}
    {{ pageAddAsset('javascript', zasset('@CmfcmfMediaModule:js/vendor/toastr.min.js'), 98) }}
    {{ pageAddAsset('stylesheet', zasset('@CmfcmfMediaModule:css/vendor/toastr.min.css'), 98) }}

    {# Utility scripts #}
    {{ pageAddAsset('javascript', zasset('@CmfcmfMediaModule:js/util.js'), 99) }}
    {{ pageAddAsset('stylesheet', zasset('@CmfcmfMediaModule:css/util.css'), 99) }}
{% endspaceless %}
