<audio controls>
    {# @todo Mime Type might be incorrect, improve this! #}
    <source src="{{ entity.url|e('html_attr') }}" type="{{ entity.mimeType|e('html_attr') }}">
    {{ __('Your browser does not support the audio element.') }}
</audio>
