{{ pageAddAsset('javascript', zasset('@CmfcmfMediaModule:js/Media/HookEdit.js')) }}

<div class="table-responsive">
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th>{{ __('Thumbnail') }}</th>
            <th>{{ __('Title') }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="cmfcmfmedia-media-hook-table">
            {% for media in selectedMedia %}
                <tr>
                    <td>
                        {% if media.thumbnail.small %}
                            <img src="{{ media.thumbnail.small|e('html_attr') }}" alt="" />
                        {% endif %}
                    </td>
                    <td>{{ media.title }}</td>
                    <td>
                        <input type="hidden" name="cmfcmfmediamodule[media][]" value="{{ media.id }}" />
                        <button type="button" class="cmfcmfmedia-media-hook-table-remove btn btn-danger btn-sm">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td class="text-center cmfcmfmedia-empty-msg" colspan="3">{{ __('No media attached yet!') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% include 'CmfcmfMediaModule:Finder:Raw.html.twig' %}
