{% include 'CmfcmfMediaModule::util.html.twig' %}

{{ pageAddAsset('stylesheet', zasset('@CmfcmfMediaModule:css/vendor/cards.css'), 98) }}

{% import _self as macro %}
{% macro box(title, supportText, buttons, thumbnail, sortableId, icon, mediaTypeTitle) %}
    <div class="col-xs-12 col-sm-6 col-sm-4 col-md-3{% if sortableId %} sortable{% endif %}" style="padding: 10px"{% if sortableId %} data-id="{{ sortableId|e('html_attr') }}"{% endif %}>
        <div class="card">
            {% if sortableId %}
                <i class="fa fa-sort fa-lg" style="position:absolute; cursor: move; top: 10px; right: 10px;"></i>
            {% endif %}
            {% if thumbnail %}
                <img class="card-img-top" src="{{ thumbnail }}" alt="" style="width: 100%;">
            {% endif %}
            <div class="card-block">
                <h4 class="card-title">
                    {% if not thumbnail %}
                        <small>{{ mediaTypeTitle }}</small>
                    {% endif %}
                    {{ title }}
                </h4>
                {% if supportText is not empty %}
                    <p class="card-text">
                        {{ supportText|raw }}
                    </p>
                {% endif %}
                {% for button in buttons %}
                    <a class="card-link" href="{{ button.url }}">
                        {{ button.text }}
                    </a>
                {% endfor %}
            </div>
            <i class="fa fa-fw {{ icon|e('html_attr') }}" style="position: absolute; right: 5px; bottom: 5px;"></i>
        </div>
    </div>
{% endmacro %}

{% set hasParentOrChildCollection = false %}
{% block collections %}
    {% if showChildCollections %}
        <div class="row">
            {% for child in collection.children %}
                {% set hasParentOrChildCollection = true %}
                {% set buttons = [{url: path('cmfcmfmediamodule_collection_display', {slug: child.slug}), text: __('View collection')}] %}
                {% set thumbnail = false %}
                {% set supportText = '' %}
                {% if child.mediaForThumbnail is not null %}
                    {% set thumbnail = mediaTypeCollection.mediaTypeFromEntity(child.mediaForThumbnail).thumbnail(child.mediaForThumbnail, 200, 150, 'url') %}
                    {% if child.mediaForThumbnail.attribution is not empty %}
                        {% set supportText = __('Cover') ~ ' ' ~ child.mediaForThumbnail.attribution %}
                    {% endif %}
                {% endif %}
                {% set supportText = supportText ~ child|cmfcmfmediamodule_getdescription %}
                {{ macro.box(child.title, supportText, buttons, thumbnail, false, 'fa-list', false) }}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% if hasParentOrChildCollection %}
    <h1>{{ __('Media') }}</h1>
{% endif %}

{% block media %}
    {{ pageAddAsset('javascript', zasset('@CmfcmfMediaModule:js/vendor/Sortable.min.js'), 98) }}
    {{ pageAddAsset('javascript', zasset('@CmfcmfMediaModule:js/Collection/sort.js')) }}
    <div class="row" id="cmfcmfmedia-media-sortable-container">
        {% for media in collection.media %}
            {% set supportText = '' %}
            {% if media.attribution is not empty %}
                {% set supportText = media.attribution %}
            {% endif %}
            {% set buttons = [{url: path('cmfcmfmediamodule_media_display', {slug: media.slug, collectionSlug: media.collection.slug}), text: __('View media')}] %}
            {% if media.downloadAllowed is defined and media.downloadAllowed %}
                {% set buttons = buttons|merge([{url: path('cmfcmfmediamodule_media_download', {slug: media.slug, collectionSlug: media.collection.slug}), text: __('Download')}]) %}
            {% endif %}
            {% set mediaType = mediaTypeCollection.mediaTypeFromEntity(media) %}
            {{ macro.box(media.title, supportText, buttons, mediaType.thumbnail(media, 200, 150, 'url'), media.id, mediaType.icon, mediaType.displayName) }}
        {% else %}
            {% if not collection.virtualRoot  %}
                <div class="col-xs-12">
                    <div class="alert alert-info">
                        {{ __('This collection is currently empty!') }}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
