{% extends 'CmfcmfMediaModule:CollectionTemplate:Cards.html.twig' %}

{% block media %}
    {{ pageAddAsset('stylesheet', zasset('@CmfcmfMediaModule:css/Media/Display/grid.css')) }}
    {% set attributions = {} %}
    <div class="cmfcmfmedia-display-grid">
        {% for media in collection.media %}
            {% set mediaType = mediaTypeCollection.mediaTypeFromEntity(media) %}
            {% set thumbnail = mediaType.thumbnail(media, 300, 200, 'url','inset') %}
            <a href="{{ path('cmfcmfmediamodule_media_display', {slug: media.slug, collectionSlug: media.collection.slug})|e('html_attr') }}"{% if not thumbnail %} style="padding-top: 30px; padding-bottom: 20px; border: 1px solid #cecece;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;"{% endif %}>
                {% if media.attribution is not empty %}
                    {% set attributions = attributions|merge({('m' ~ loop.index): media.attribution}) %}
                    <span class="label label-info cmfcmfmedia-display-grid-attribution-label">{{ loop.index }}</span>
                {% endif %}
                {% if thumbnail %}
                    <img src="{{ thumbnail|e('html_attr') }}" />
                {% else %}
                    <span style="line-height: 20px;">{{ media.title }}</span>
                    <i class="fa fa-fw {{ mediaType.icon|e('html_attr') }}" style="position: absolute; left: 5px; top: 5px;"></i>
                {% endif %}
            </a>
        {% endfor %}
    </div>
    {% if attributions is not empty %}
        <h4>{{ __('Attributions') }}</h4>
        <ul>
            {% for index, attribution in attributions %}
                <li>{{ index|slice(1) }}: {{ attribution|raw }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
