{% extends 'CmfcmfMediaModule::Base.html.twig' %}
{% block title %}
    {{ __('Choose collections to embed') }}
{% endblock %}
{% block content %}
    {% include 'CmfcmfMediaModule::util.html.twig' %}
    {% include 'CmfcmfMediaModule:Collection:TreeSelect.html.twig' %}

    <button type="button" class="btn btn-primary" id="cmfcmfmedia-popup-choose-collections-embed-btn">
        <i class="fa fa-fw fa-check"></i> {{ __('Embed') }}
    </button>

    <script type="text/javascript">
        (function ($) {
            $('#cmfcmfmedia-popup-choose-collections-embed-btn').click(function () {
                var selectedCollections = $('#cmfcmfmedia-hook-collection-tree').jstree('get_selected', true);
                if (selectedCollections.length == 0) {
                    alert('Please select at least one collection to embed or cancel by closing this window!');
                    return;
                }
                var html = '<ul>';
                for (var i = 0; i < selectedCollections.length; i++) {
                    console.log(selectedCollections[i]);
                    var url = Routing.generate('cmfcmfmediamodule_collection_displaybyid', {id: selectedCollections[i].id});
                    html +=
                        '<li>' +
                            '<a href="' + window.CmfcmfMediaModule.Util.htmlAttrEncode(url) + '">' +
                                window.CmfcmfMediaModule.Util.htmlEncode(selectedCollections[i].original.cmfcmfmediamodule.title) +
                            '</a>' +
                        '</li>';
                }
                html += '</ul>';

                switch (window.opener.CmfcmfMediaModule.currentEditor) {
                    case 'ckeditor':
                        window.opener.CmfcmfMediaModule.currentEditorInstance.insertHtml(html);
                        break;
                }
                window.opener.toastr['success']('The selected collections have been inserted.', 'Collections inserted');
                window.opener.focus();
                window.close();
            })
        })(jQuery);
    </script>
{% endblock %}
