{% include 'CmfcmfMediaModule::util.html.twig' %}
{{ pageAddAsset('javascript', zasset('@CmfcmfMediaModule:js/Finder/base.js')) }}
<div class="row">
    <div class="col-xs-12">
        <div class="input-group">
            <input class="form-control" placeholder="{{ __('Insert search text')|e('html_attr') }}" id="cmfcmfmedia-finder-search-input" autofocus />
            <span class="input-group-addon"><i class="fa fa-cog fa-spin hidden"></i></span>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="table-responsive">
            <table class="table table-striped table-hover table-condensed">
                <thead>
                <tr>
                    <th>{{ __('Type') }}</th>
                    <th>{{ __('Title') }}</th>
                    <th>{{ __('License') }}</th>
                    <th>{{ __('Url') }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="cmfcmfmedia-finder-table-body"></tbody>
            </table>
        </div>
    </div>
</div>
