{% extends 'CmfcmfMediaModule::Base.html.twig' %}
{% block title %}
    {{ __('Create new watermark') }}
{% endblock %}
{% block content %}
    {% include 'CmfcmfMediaModule::util.html.twig' %}
    {% form_theme form 'CmfcmfMediaModule:Form:bootstrap_3.html.twig' %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
