<video width="{{ width|e('html_attr') }}" height="{{ height|e('html_attr') }}" controls>
    <source src="{{ entity.url|e('html_attr') }}" type="{{ entity.mimeType|e('html_attr') }}">
    {{ __('Your browser does not support the audio element.') }}
</video>
